/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/10/2014, 11:04:51 PM
    Author     : pokewood
*/

.top-buffer { padding-top:60px; }
.top-margin { margin-top: 60px; }
.bottom-buffer { margin-bottom:20px; }
.bottom-padding { padding-bottom:60px; }
.nav-custom { //background-color: #40826D; 
             background-color: #0D8C91;
             color: #fff; }
.text-white { color: #fff !important; }
.spyscoll-padding { padding-top: 131px; }
.spyscoll-height { 
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;}
.btn-contact { margin-top: 8px; 
//background-color: #57D287;
background-color: #FCEC4A;
color:#8E8E8E;
border-color: #357ebd;
}
.btn-contact:hover{ margin-top: 8px; 
//background-color: #4FB576;
background-color: #FAF08D;
color:#6F6F6F;
border-color: #357ebd;
}
.btn-contact:active{ margin-top: 8px; 
//background-color: #4FB576;
background-color: #FAF08D;
color:#6F6F6F;
border-color: #357ebd;
}
.btn-contact:focus{ margin-top: 8px; 
//background-color: #4FB576;
background-color: #FAF08D;
color:#6F6F6F;
border-color: #357ebd;
}
.contact-form{
    padding: 10px 10px 50px;
}
#top-menu a {
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
  
}
.panel-full-width{ width:48%; }
.full-width{ width:100%; }
.custom-link {color: #000;
              font-weight: bold;

}
.custom-link:hover{
    color:#939393;
    text-decoration: none !important;
}
.custom-link:focus{
    color:#939393;
    text-decoration: none !important;
}
.yellow{
    background-color: #FCEC4A !important;
}
.custom-body{
    background-color: #D3D3D3 !important;
}
