/* resets */
*,
*:before,
*:after {
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

* {
    color: #FFF;
}
body{
    margin:0;
    padding:0;
    border:0;
    min-width: 100%;
    background-color: #314555;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
nav{
    width: 90%;
    margin: 0 auto;
    position: relative;
}
nav h1{
    color: #00c4b2;
    position: absolute;
    top: 10px;
    font-family: georgia;
}
nav h1:hover{
    cursor: pointer;
}
/*FIXED NAV*/
#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    color: #ffffff;
    height: 35px;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}
#navigation h1{
    color: #00c4b2;
    top: 10px;
    font-family: georgia;
}

#navigation a:hover {
    color: grey;
}

/*END FIXED NAV*/

/* grid */
/* Thanks to Nick Salloum from Sitepoint */
/* http://www.sitepoint.com/easy-responsive-css-grid-layouts */
.row {
    margin: 0 -10px;
    margin-bottom: 20px;
}
.row:last-child {
    margin-bottom: 0;
}
[class*="col-"] {
    padding: 10px;
}

@media all and ( min-width: 600px ) {

    .col-2-3 {
        float: left;
        width: 66.66%;
    }
    .col-1-2 {
        float: left;
        width: 50%;
    }
    .col-1-3 {
        float: left;
        width: 33.33%;
    }
    .col-1-4 {
        float: left;
        width: 25%;
    }
    .col-1-8 {
        float: left;
        width: 12.5%;
    }

}

/* Desktop */
@media screen and (min-width: 360px) {
    #menu-top-nav {
        color: #fff;
        font-size: 14px;
        position: absolute;
        right: 0;
        top: 10px;

    }
    .inner {
        width: 60%;
        vertical-align: middle;
        text-align: left;
    }
    .inner h1{
        color: #00c4b2;
        font-size: 30px;
        font-family: georgia;
    }
    .inner h2{
        color: #00c4b2;
        font-size: 28px;
        font-family: georgia;
    }
    .headline-image{
        width: 90%;
        padding: 5px;
        margin: auto;
        vertical-align: middle;
        text-align: center;
        font-size: 21px;
    }
    .headline{
    width: 90%;
    padding: 5px;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    border-top: solid;
    border-bottom: solid;
    font-size: 21px;
    }
    .headline h1{
        font-size: 30px;
        color: #00c4b2;
        font-family: georgia;
    }
    .service h2{
        font-size: 3vh;
    }
    .service p{
        font-size: 3.0vh;
    }
}
/*Iphone 6 & iphone 6 plus*/
@media screen and (min-width: 375px) and (max-width: 414px) {
    .service h2 {
        font-size: 2.7vh;
    }
    .service p {
        font-size: 2.0vh;
    }
}
/* Medium */
@media screen and (max-width: 360px) {
    #menu-top-nav {
        color: #fff;
        font-size: 12px;
        position: absolute;
        right: 0;
        top: 10px;
    }
    .inner {
        width: 100%;
        vertical-align: middle;
        text-align: left;
    }
    .inner h1{
        color: #00c4b2;
        font-size: 38px;
        font-family: georgia;
    }
    .inner h2{
        color: #00c4b2;
        font-size: 24px;
        font-family: georgia;
    }
    .headline-image{
        width: 90%;
        padding: 5px;
        margin: auto;
        vertical-align: middle;
        text-align: center;
    }
    .headline{
        width: 90%;
        padding: 5px;
        margin: auto;
        vertical-align: middle;
        text-align: center;
        border-top: solid;
        border-bottom: solid;
        font-size: 11px;
    }
    .headline h1{
        font-size: 38px;
        color: #00c4b2;
        font-family: georgia;
    }
    .service h2{
        font-size: 2.0vh;
    }
    .service p{
        font-size: 2.0vh;
    }
}
/* Mobile */
@media screen and (min-width: 360px) and (max-width: 360px){
    .inner h1{
        color: #00c4b2;
        font-size: 47px;
        font-family: georgia;
    }
    .inner {
        width: 100%;
        vertical-align: middle;
        text-align: left;
    }
    .inner h2{
        color: #00c4b2;
        font-size: 21px;
        font-family: georgia;
    }
    .headline-image{
        width: 90%;
        padding: 5px;
        margin: auto;
        vertical-align: middle;
        text-align: center;
    }
    .headline{
        width: 90%;
        padding: 5px;
        margin: auto;
        vertical-align: middle;
        text-align: center;
        border-top: solid;
        border-bottom: solid;
        font-size: 11px;
    }
    .headline h1{
        font-size: 47px;
        color: #00c4b2;
        font-family: georgia;
    }
    .service h2{
        font-size: 2.0vh;
    }
    .service p{
        font-size: 2.0vh;
    }
}
/* Smaller than Mobile */
@media screen and (max-width: 360px) {
    .inner {
        width: 100%;
        vertical-align: middle;
        text-align: left;
    }
    .inner h1{
        color: #00c4b2;
        font-size: 28px;
        font-family: georgia;
    }
    .inner h2{
        color: #00c4b2;
        font-size: 21px;
        font-family: georgia;
    }
    .headline-image{
        width: 90%;
        padding: 5px;
        margin: auto;
        vertical-align: middle;
        text-align: center;
    }
    .headline{
        width: 90%;
        padding: 5px;
        margin: auto;
        vertical-align: middle;
        text-align: center;
        border-top: solid;
        border-bottom: solid;
        font-size: 11px;
    }
    .headline h1{
        font-size: 28px;
        color: #00c4b2;
        font-family: georgia;
    }
    /*.service{
        width: 100%;
        float: left;
    }*/
    .service h2{
        font-size: 2.0vh;
    }
    .service p{
        font-size: 2.0vh;
    }
}
.inner ul li a{
    color: #fff;
    text-decoration: none;
}
#menu-top-nav li {
        float: left;
        position: relative;
}

#menu-top-nav li a {
        color: #FFF;
        padding: 0 4px;
}
.page-section {
    margin:0;
    padding:0;
    border:0;
    background-color: #314555;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.divide10 {
    width: 100%;
    height: 20px;
}
.divide20 {
    width: 100%;
    height: 20px;
}
.divide40 {
    width: 100%;
    height: 40px;
}
.divide60 {
    width: 100%;
    height: 60px;
}
.divide80 {
    width: 100%;
    height: 80px;
}
.divide150 {
    width: 100%;
    height: 150px;
}
.divide210 {
    width: 100%;
    height: 210px;
}
.dark {
    background: -webkit-linear-gradient(#424242, #2E2E2E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#424242, #2E2E2E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#424242, #2E2E2E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#424242, #2E2E2E); /* Standard syntax (must be last) */
    border-bottom: 1px solid #151515;
    border-top: 1px solid #151515;}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    -webkit-box-shadow: 0px -1px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 12px 0px rgba(0,0,0,0.75);
}
.social{
    width: 60%;
    margin: 0 auto;
    position: relative;
}
.inner p{
    color: #fff;
}

.footer-icon{
    padding: 5px;
    border: 2px solid;
    border-radius: 17px;
    font-size: 20px;
    margin: 10px;
}
.footer-icon  a:hover {
    color: grey;
}
.img-circle{
    border-radius: 50%;
}
.contact{
    width: 90%;
}
.form-control{
    width: 100%;
    margin: 5px;
    line-height: 20px;
    color: #000;
}
.form-submit{
    background-color: #00c4b2;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
}
#btn-contact{
    background-color: #00c4b2;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    text-decoration: none;
}
.service span{
    top: 0px;
}
.service h2{
    display: inline-block;
    color: #00c4b2;
    margin-left: 20px;
}
.service p{
    margin-left: 80px;
}
.unset{
    width:100%;
    float: left;
}
.service-icon{width:20%; top: 0px;}
.service-text{width:80%;float: left;}