@import url(//fonts.googleapis.com/css?family=Lato);
/* Document level adjustments */
html {
  font-size: 16px;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}
body {
  font-family: 'lato', sans-serif;
}
/* Type will scale with document */
h1 {
  font-size: 1.5rem;
  color: #00c4b2;
  font-family: georgia;
}
h2 {
  font-size: 1rem;
  color: #00c4b2;
  font-family: georgia;
}
h3 {
  font-size: 0.5rem;
  color: #00c4b2;
  font-family: georgia;
}
