/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Normalize
# Typography
# Elements
# Forms
# Navigation
   ## Links
   ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
   ## Asides
   ## Comments
# Infinite scroll
# Media
   ## Captions
   ## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Font Assets
--------------------------------------------------------------*

/* RESET */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.container{
  width: 20.714285714285715em;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
input, textarea {
    display: block;
    border-radius: 4px;
    min-height: 46px;
    padding: 10px 16px;
    line-height: 1.3333333;
    width: 100%;
    color: #666;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
textarea{
  min-height: 121px;
}
nav{
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
}
nav div{
  position: relative;
  display: block;
  text-align: center;
}
nav ul{
  position: relative;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li{
  display: inline;
}
nav ul li a{
  text-decoration: none;
  text-align: center
}
section{
  padding: 30px 0;
}
#home{
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 550px;
}
ul{
  text-decoration: none;
}
ul li{
  list-style-type: none;
  float: left;
  margin: 5px
}
ul li a{
  font-size: 14px;
  font-size: 1em;
  text-decoration: none;
}
h2{
  text-decoration: underline;
  font-size: 16.8px;
  font-size: 1.2em;
}
p{
  font-size: 14px;
  font-size: 1em;
}
