---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import Layout from "../layouts/Layout.astro";

// Component Imports:
import Hero from "@components/Hero.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";

// Component variables:
const pageTitle: string = "Lucas L Jordan";
const pageDescription: string = "Developer from Melbourne Australia";
const pageNavLinks: NavLink[] = [
	{ title: "About", url: "/about", active: false },
	{ title: "Blog", url: "/blog", active: false },
	{ title: "Contact", url: "#contact", active: false },
	{ title: "/Uses", url: "/uses", active: false },
	{ title: "/Now", url: "/now", active: false },
];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title={pageTitle} description={pageDescription} navLinks={pageNavLinks}>
	<header>
		<Hero />
	</header>
	<main class="container">
		<Contact />
	</main>
	<Footer navLinks={pageNavLinks} />
</Layout>
