---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import Layout from "../layouts/Layout.astro";

// Component Imports:
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";

// Component variables:
const pageTitle: string = "Now";
const pageDescription: string = "A black and white cat";
const pageNavLinks: NavLink[] = [
  { title: "About", url: "/about", active: false },
  /* { title: "Blog", url: "/blog", active: false }, - Coming soon! */
  /* { title: "Contact", url: "#contact", active: false }, TODO */
  /* { title: "/Uses", url: "/uses", active: false }, - TODO */
  { title: "/now", url: "/now", active: true },
];
const footerNavLinks: NavLink[] = [
  { title: "About", url: "/about", active: false },
  { title: "/now", url: "/now", active: true },
  { title: "Accessibility", url: "/accessibility", active: false },
];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title={pageTitle} description={pageDescription} navLinks={pageNavLinks}>
  <main class="wrapper">
    <article class="ambrose">
      <div>
        <h1 class="text-primary">Now</h1>

        <p>
          This page is dedicated to what I'm doing now! The idea being this
          pages existence should promt me to regularly update it for my own
          accountability as well as for anyone who might be interested. Read
          more about <strong
            ><a
              href="https://nownownow.com/about"
              tabindex="0"
              target="_blank"
              class="text-primary">Now pages</a
            ></strong
          >.
        </p>

        <h2 class="text-primary">May, 2024</h2>

        <p>
          I've had a lot of opporunities to mentor at work! ❤ It's a very cold
          Atumn in Naarm but at least the days are mostly sunny. I've spent some
          time setting up my retro video game collection and playnig old games.
        </p>

        <ul class="ls-none">
          <li>
            <strong>Currently Playing:</strong>
            Fallout New Vegas (PS3), The Legend of Zelda: Twilight Princess (Game
            Cube), Hard Edge (PS1)
          </li>
          <li>
            <strong>Currently Watching:</strong>
            Fallout, X-Men'97
          </li>
          <li>
            <strong>Currently Reading:</strong>
            Neighbourhood Guide to Cycling Naarm by Trent Holden and Kate Morgan.
          </li>
        </ul>
      </div>
    </article>
    <div class="contact-section">
      <Contact />
    </div>
  </main>
  <Footer navLinks={footerNavLinks} />
</Layout>

<style>
  article {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  article > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    max-width: 38rem;
    width: 100%;

    h1 {
      margin-bottom: 1rem;
    }

    img {
      border-radius: 0.63rem;
      height: auto;
      margin: 0 auto 1rem auto;
      width: 100%;
    }
    img:not(:first-of-type) {
      margin: 1rem auto;
    }
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    max-width: 38rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    width: 100%;
  }
</style>
