---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import Layout from "../layouts/Layout.astro";

// Component Imports:
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";
import NowItem from "@components/NowItem.astro";

// Component variables:
const pageTitle: string = "Now";
const pageDescription: string = "A black and white cat";
const pageNavLinks: NavLink[] = [
  { title: "About", url: "/about", active: false },
  /* { title: "Blog", url: "/blog", active: false }, - Coming soon! */
  /* { title: "Contact", url: "#contact", active: false }, TODO */
  /* { title: "/Uses", url: "/uses", active: false }, - TODO */
  { title: "/now", url: "/now", active: true },
];
const footerNavLinks: NavLink[] = [
  { title: "About", url: "/about", active: false },
  { title: "/now", url: "/now", active: true },
  { title: "Accessibility", url: "/accessibility", active: false },
];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title={pageTitle} description={pageDescription} navLinks={pageNavLinks}>
  <main class="wrapper">
    <article class="now">
      <div>
        <h1 class="text-primary">Now</h1>

        <p>
          This page is dedicated to what I'm doing now! The idea being this
          pages existence should promt me to regularly update it for my own
          accountability as well as for anyone who might be interested. Read
          more about <strong
            ><a
              href="https://nownownow.com/about"
              tabindex="0"
              target="_blank"
              class="text-primary">Now pages</a
            ></strong
          >.
        </p>

        <NowItem heading="February, 2025">
          <p>
            It's been a very hot summer and I've had my nose to the grindstone
            after enjoying a wonderful and restful two week vacation over
            Christmas. Over the break my Wife and I spent four nights in
            Adelaide visiting the wine country 🍷.
          </p>

          <p>
            I was recently published by my company on linkedin as part of our
            "Meet the team" series. You can read about it
            <strong>
              <a
                href="https://www.linkedin.com/feed/update/urn:li:activity:7294522372601131009/"
                tabindex="0"
                target="_blank"
                class="text-primary"
              >
                here
              </a></strong
            >.
          </p>

          <ul class="ls-none">
            <li>
              <strong>Watched:</strong>
              A Complete Unknown (2024) (⭐⭐⭐).
            </li>
            <li>
              <strong>Currently Playing:</strong>
              Final Fantasy XIII (PS3).
            </li>
          </ul>
        </NowItem>

        <NowItem heading="June, 2024">
          <p>
            It's been a very cold start to winter in Naarm my tea consumption
            has increased exponentially! ☕
          </p>

          <p>
            I published my first blog post for my company. You can read it
            <strong>
              <a
                href="https://blog.srcinnovations.com.au/2024/07/01/save-money-on-hosting-enhance-security-and-improve-seo-with-static-sites/"
                tabindex="0"
                target="_blank"
                class="text-primary"
              >
                here
              </a></strong
            >.
          </p>

          <ul class="ls-none">
            <li>
              <strong>Watched:</strong>
              Furiosa: A Mad Max Saga (⭐⭐⭐⭐⭐).
            </li>
            <li>
              <strong>Currently Playing:</strong>
              Fallout New Vegas (PS3) (Haven’t had much time for games😭).
            </li>
            <li>
              <strong>Currently Reading:</strong>
              <a
                href="https://www.penguin.com.au/books/tomorrow-and-tomorrow-and-tomorrow-9781529115543"
                tabindex="0"
                target="_blank"
                >Tomorrow, and Tomorrow, and Tomorrow by Gabrielle Zevin
              </a>.
            </li>
          </ul>
        </NowItem>

        <NowItem heading="May, 2024">
          <p>
            I've had a lot of opportunities to mentor at work! ❤ It's a very
            cold Autumn in Naarm but at least the days are mostly sunny. I've
            spent some time setting up my retro video game collection and
            playing old games.
          </p>

          <ul class="ls-none">
            <li>
              <strong>Currently Playing:</strong>
              Fallout New Vegas (PS3), The Legend of Zelda: Twilight Princess (Game
              Cube), Hard Edge (PS1)
            </li>
            <li>
              <strong>Currently Watching:</strong>
              Fallout, X-Men'97
            </li>
            <li>
              <strong>Currently Reading:</strong>
              Neighbourhood Guide to Cycling Naarm by Trent Holden and Kate Morgan.
            </li>
          </ul>
        </NowItem>
      </div>
    </article>
    <div class="contact-section">
      <Contact />
    </div>
  </main>
  <Footer navLinks={footerNavLinks} />
</Layout>

<style>
  article {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  article > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    max-width: 38rem;
    width: 100%;

    h1 {
      margin-bottom: 1rem;
    }

    img {
      border-radius: 0.63rem;
      height: auto;
      margin: 0 auto 1rem auto;
      width: 100%;
    }
    img:not(:first-of-type) {
      margin: 1rem auto;
    }
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    max-width: 38rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    width: 100%;
  }
</style>
