---
// Component Props:
// interface Props {}

// Component variables:
// const {} = Astro.props;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<section>
  <h1>About Me</h1>

  <p>
    Hi, I&#39;m Lucas Jordan. I&#39;m a consultant and a software developer from Narrm (Melbourne), Australia.
  </p>
</section>

<style>
  section {
    padding-bottom: 1rem;
  }
</style>
