---
// Component Props:
// interface Props {}

// Component variables:
// const {} = Astro.props;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<div>
  <h3 class="text-primary">Connect with me</h3>
  <ul>
    <li>
      <a href="mailto:hello@lucasjordan.dev">hello@lucasjordan.dev</a>
    </li>
    <li>
      <a href="https://twitter.com/Lucas_L_Jordan" target="_blank" tabindex="0"
        >@Lucas_L_Jordan</a
      >
    </li>
    <li>
      <a
        href="https://bsky.app/profile/lucasjordan.bsky.social"
        target="_blank"
        tabindex="0">@lucasjordan.bsky.social</a
      >
    </li>
  </ul>
</div>

<style>
  ul {
    list-style: none;
  }
</style>
