---
// Component Props:
// interface Props {}

// Component variables:
// const {} = Astro.props;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<section>
  <h3 id="contact" class="text-primary">Connect with me</h3>
  <ul>
    <li>
      <span class="ti-email icon"></span>
      <a
        href="mailto:hello@lucasjordan.dev"
        title="Email hello@lucasjordan.dev"
        tabindex="0"
      >
        Email
      </a>
    </li>
    <li>
      <span class="ti-twitter-alt icon"></span>
      <a
        href="https://twitter.com/Lucas_L_Jordan"
        target="_blank"
        tabindex="0"
        title="Lucas Jordan on Twitter"
        rel="me"
      >
        Twitter
      </a>
    </li>
    <li>
      <span class="ti-link icon"></span>
      <a
        href="https://bsky.app/profile/lucasjordan.bsky.social"
        target="_blank"
        tabindex="0"
        title="Lucas Jordan on BlueSky Social"
        rel="me"
      >
        BlueSky
      </a>
    </li>
    <li>
      <span class="ti-github icon"></span>
      <a
        href="https://github.com/lucasljordan"
        target="_blank"
        tabindex="0"
        title="Lucas Jordan on Github"
        rel="me"
      >
        Github
      </a>
    </li>
    <li>
      <span class="ti-linkedin icon"></span>
      <a
        href="https://www.linkedin.com/in/lucasljordan"
        target="_blank"
        tabindex="0"
        title="Lucas Jordan on Linkedin"
        rel="me"
      >
        Linkedin
      </a>
    </li>
  </ul>
</section>

<style>
  section {
    padding-bottom: 1rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding-inline-start: 0px;
  }
  ul li {
    line-height: 1.5;
  }
  .icon {
    margin-right: 0.4rem;
  }
</style>
