---
// Style Imports:
import "@styles/styles.css";

// Component Props:
interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

// Component variables:
const {
  title = "Lucas L Jordan",
  description = "Developer from Melbourne Australia",
} = Astro.props;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
