---
// Component Imports:
import Navbar from "./Navbar.astro";

// Component Props:
interface Props {
  navLinks?: NavLink[];
}

// Component variables:
const { navLinks } = Astro.props;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<div class="nav wrapper row">
  <span>
    <a href="/" class="heading text-primary font-heading" tabindex="0">
      Lucas L Jordan
    </a>
  </span>
  {navLinks && <Navbar navLinks={navLinks} />}
</div>

<style>
  .nav {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .heading,
  .heading:hover {
    text-decoration: none;
    font-weight: 700;
  }
</style>
